<!-- partial is in same folder. Just pass the object
and Rails will handle it.

It will find _comment.html.erb for ya.

-->
<%= render @comment %>

<p>
  <!-- link to /posts/:id
       "show" action of PostsController
  <%= link_to 'Back', @post %>
</p>
